.stc-tags {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px #ccc;
}

.stc-tags--no-tag {
    padding: 23px;
}

.stc-tags-input {
    border: 0;
    margin: 0 5px;
}

.stc-tag {
    margin: 5px
}